<div class="container text-center pt-2 mb-5 mx-3">
    <alert></alert>
    <h4 class="text-left my-3">D7.- Preventive actions</h4>
    <form [formGroup]="actionForm">
        <div class="row justify-content-center">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"> Action </th>
                            <th scope="col"> Responsible </th>
                            <th scope="col"> Due date </th>
                            <th scope="col"> Department </th>
                            <th scope="col"> &nbsp; </th>
                        </tr>
                    </thead>
                    <tbody formArrayName="actions">
                        <tr *ngFor="let action of actions.controls; let i = index" [formGroupName]="i">
                            <td>
                                <textarea type="text" formControlName="description" class="form-control"
                                    [class]="getClass(action, 'description')"
                                    placeholder="Action description"></textarea>
                            </td>
                            <td>
                                <select class="form-control" formControlName="responsible"
                                    [class]="getClass(action, 'responsible')">
                                    <option [value]="null" selected disabled> Select an user</option>
                                    <option *ngFor="let user of userList" [value]="user.username">
                                        {{ user.name }}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" formControlName="department"
                                    [class]="getClass(action, 'department')">
                                    <option [value]="null" selected disabled> Department in charge </option>
                                    <option *ngFor="let depto of departments" [value]="depto.id">
                                        {{ depto.name }}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="date" formControlName="due" class="form-control"
                                    [class]="getClass(action, 'due')" [min]="today">
                            </td>
                            <td>
                                <button class="btn btn-primary" *ngIf="i === 0" (click)="addAction()">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button class="btn btn-danger" *ngIf="i !== 0" (click)="deleteAction(i)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </form>

    <h5 class="text-left m-2"> Formats updated </h5>

    <form [formGroup]="form">
        <div class="row d-flex justify-content-center">

            <div class="col-md-6">

                <div class="form-group row pt-2">
                    <label for="" class="col-md-6 col-form-label">
                        FMEA was updated?
                    </label>
                    <div class="col-md-6">
                        <select formControlName="fmea" [class]="getClassForm('fmea')"
                            class="custom-select mb-2 mr-sm-2 mb-sm-0">
                            <option [value]="null" selected disabled> Select your choice </option>
                            <option *ngFor="let o of options" [value]="o"> {{ o }} </option>
                        </select>
                    </div>
                </div>

                <div class="form-group row pt-2" *ngIf="isFileRequired('fmea')">
                    <label for="" class="col-md-6 col-form-label">
                        FMEA updated evidence
                    </label>
                    <div class="col-md-6">
                        <input (change)="fileEvent($event, 'fmea')" formControlName="fmeaFile"
                        [class]="fileClass('fmea')" class="form-control" type="file">
                    </div>
                </div>

                
                <div class="form-group row pt-2">
                    <label for="" class="col-md-6 col-form-label">
                        Read Across was deploy?
                    </label>
                    <div class="col-md-6">
                        <select formControlName="readAcross" [class]="getClassForm('readAcross')"
                            class="custom-select mb-2 mr-sm-2 mb-sm-0">
                            <option [value]="null" selected disabled> Select your choice </option>
                            <option *ngFor="let o of options" [value]="o"> {{ o }} </option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                
                <div class="form-group row pt-2">
                    <label for="" class="col-md-6 col-form-label">
                        Control plan was updated?
                    </label>
                    <div class="col-md-6">
                        <select formControlName="control" [class]="getClassForm('control')"
                            class="custom-select mb-2 mr-sm-2 mb-sm-0">
                            <option [value]="null" selected disabled> Select your choice </option>
                            <option *ngFor="let o of options" [value]="o"> {{ o }} </option>
                        </select>
                    </div>
                </div>

                
                <div class="form-group row pt-2" *ngIf="isFileRequired('control')">
                    <label for="" class="col-md-6 col-form-label">
                        Control plan updated evidence
                    </label>
                    <div class="col-md-6">
                        <input (change)="fileEvent($event, 'control')" formControlName="controlFile"
                        [class]="fileClass('control')" class="form-control" type="file">
                    </div>
                </div>


                
                <div class="form-group row pt-2">
                    <label for="" class="col-md-6 col-form-label">
                        Lessons learned log was updated?
                    </label>
                    <div class="col-md-6">
                        <select formControlName="lessons" [class]="getClassForm('lessons')"
                            class="custom-select mb-2 mr-sm-2 mb-sm-0">
                            <option [value]="null" selected disabled> Select your choice </option>
                            <option *ngFor="let o of options" [value]="o"> {{ o }} </option>
                        </select>
                    </div>
                    
                </div>
            </div>

        </div>
    </form>

    <!-- <button class="btn float-right" (click)="continue()"
        [ngClass]="{ 'btn-success': usersForm.valid, 'btn-secondary not-ready': !usersForm.valid }">
        Continue
    </button> -->
    <confirm-modal 
        title="Define corrective actions" 
        content="Are you sure you want to define these preventive actions? Remember, once you define the due dates, you cannot change them"
        (triggered)="trigger()" 
        (accept)="submit()" 
        [isDisabled]="! isValid()"
        reason="You need to fullfil the actions">
    </confirm-modal>

</div>