<alert></alert>
<issue [id]="id" (receive)="getIssue($event)">
</issue>

<div class="text-center" *ngIf="issue != null">
    <div *ngIf="next; else finished" [ngSwitch]="issue.status">

        <button *ngSwitchCase="'D5'" class="btn btn-success px-3" (click)="goToNext()"> 
            Add actions
        </button>

        <div *ngSwitchCase="'D7'"> 
            <button *ngIf="canClose() && preventiveDone()" class="btn btn-success px-3" (click)="goToNext()">
                Close issue
            </button>

            <span *ngIf="!canClose() && preventiveDone()" class="font-italic">
                <i class="fas fa-exclamation text-danger"></i>
                Only a manager can close this issue
            </span>

            <button *ngIf="!preventiveDone()" class="btn btn-success px-3" (click)="addPreventive()">
                Add preventive actions
            </button>
        </div>
        
        <button *ngSwitchDefault class="btn btn-success px-3" (click)="goToNext()"> 
            Continue to {{ next.toUpperCase() }}
        </button>
        
    </div>

    <ng-template #finished>
        This issue has no follow-up
    </ng-template>
</div>

<div class="footer-inverse">
</div>