<issue [id]="id" (receive)="getIssue($event)">
</issue>

<div class="text-center" *ngIf="issue != null">
    <div *ngIf="next; else finished" [ngSwitch]="issue.status">

        <button *ngSwitchCase="'D5'" class="btn btn-success px-3" (click)="goToNext()"> 
            Add actions
        </button>

        <div *ngSwitchCase="'D7'">

            <div class="justify-content-center text-center" *ngIf="preventiveDone()">
                <button class="btn btn-success px-3" (click)="goToNext()"> 
                    Continue to {{ next.toUpperCase() }}
                </button>
            </div>

            <button *ngIf="!preventiveDone()" class="btn btn-success px-3" (click)="addPreventive()">
                Add preventive actions
            </button>
        </div>
        
        <button *ngSwitchDefault class="btn btn-success px-3" (click)="goToNext()"> 
            Continue to {{ next.toUpperCase() }}
        </button>
        
    </div>

    <ng-template #finished>
        This issue has no follow-up
    </ng-template>
</div>

<div class="footer-inverse">
</div>