<div class="card p-2 m-3" *ngIf="exists; else not_found">
    <alert></alert>
    <div class="m-2">
        <span class="issue-text">
            Issue #{{ id }}
        </span>
        <span class="issue-hint mx-1">
            {{ issue.client }} / {{ issue.type }}
        </span>
    </div>

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">

        <li [ngbNavItem]="0" [class]="getClass(0)">
            <a ngbNavLink>Details</a>
            <ng-template ngbNavContent>
                <div class="row m-3">
                    <div class="col-md-6">
                        <h5> Issue details </h5>
                        <div class="text-center">
                            <detail name="ID" [value]="issue.id"></detail>
                            <detail name="Status" [value]="issue.status"></detail>
                            <detail name="Type" [value]="issue.type"></detail>
                            <detail name="Customer" [value]="issue.client"></detail>
                            <detail name="Part" [value]="issue.part"></detail>
                            <detail name="Area" [value]="issue.area"></detail>
                            <detail name="Phase" [value]="issue.phase"></detail>
                            <detail name="Problem" [value]="issue.problem"></detail>
                            <detail name="Description" [value]="issue.description"></detail>
                            <detail name="Originator" [value]="issue.originator"></detail>
                            <detail name="Generated" [value]="datePipe.transform(issue.created, 'short', 'UTC')">
                            </detail>
                            <detail name="Last updated" [value]="datePipe.transform(issue.created, 'short', 'UTC')">
                            </detail>
                        </div>
                    </div>

                    <div class="col-md-6" *ngIf="issue.incident">
                        <h5> Customer incident details </h5>
                        <div class="text-center">
                            <detail name="Customer name" [value]="issue.client"></detail>
                            <detail name="Customer CAR" [value]="issue.incident.car"></detail>
                            <detail name="Issued" [value]="datePipe.transform(issue.incident.issued, 'short', 'UTC')">
                            </detail>
                            <detail name="Contact name" [value]="issue.incident.contact"></detail>
                            <detail name="Contact email" [value]="issue.incident.email"></detail>
                        </div>
                    </div>

                </div>
            </ng-template>
        </li>

        <li [ngbNavItem]="1" [class]="getClass(1)">
            <a ngbNavLink>D1</a>
            <ng-template ngbNavContent>
            </ng-template>
        </li>

        <li [ngbNavItem]="2" [class]="getClass(2)">
            <a ngbNavLink>D2</a>
            <ng-template ngbNavContent>
            </ng-template>
        </li>

        <li [ngbNavItem]="2" [class]="getClass(3)">
            <a ngbNavLink>D3</a>
            <ng-template ngbNavContent>
            </ng-template>
        </li>

        <li [ngbNavItem]="2" [class]="getClass(4)">
            <a ngbNavLink>D4</a>
            <ng-template ngbNavContent>
            </ng-template>
        </li>

        <li [ngbNavItem]="2" [class]="getClass(5)">
            <a ngbNavLink>D5</a>
            <ng-template ngbNavContent>
            </ng-template>
        </li>

        <li [ngbNavItem]="2" [class]="getClass(6)">
            <a ngbNavLink>D6</a>
            <ng-template ngbNavContent>
            </ng-template>
        </li>

        <li [ngbNavItem]="2" [class]="getClass(7)">
            <a ngbNavLink>D7</a>
            <ng-template ngbNavContent>
            </ng-template>
        </li>

        <li [ngbNavItem]="2" [class]="getClass(8)">
            <a ngbNavLink>D8</a>
            <ng-template ngbNavContent>
            </ng-template>
        </li>

    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
<ng-template #not_found>
    <error-message type="error" title="ERROR" [loading]="exists" [description]="'We could not find issue #' + id">
    </error-message>
</ng-template>