<div class="container text-center pt-2 mb-5 mx-3">
    <alert></alert>
    <h4 class="text-left my-3">D3.- Containment</h4>

    <h5 class="text-left my-2"> Containment actions </h5>

    <div class="row justify-content-center">
        <form [formGroup]="stock">

            <div class="table-responsive">
                <table class="table table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col"> Stock </th>
                            <th scope="col"> Total Qty </th>
                            <th scope="col"> Qty OK </th>
                            <th scope="col"> Qty Not Ok </th>
                            <th scope="col"> Responsible </th>
                            <th scope="col"> Finish Clean Date </th>
                        </tr>
                    </thead>
                    <tbody formArrayName="containment">
                        <tr *ngFor="let st of containment.controls; let i = index" [formGroupName]="i">

                            <td class="text-left">
                                <div class="form-check">
                                    <input [id]="'enabled' + i" formControlName="enabled" class="form-check-input"
                                        type="checkbox" value="">
                                    <label [for]="'enabled' + i" class="form-check-label">
                                        {{ getDescription(st) }}
                                    </label>
                                </div>
                            </td>

                            <td>
                                <fieldset [disabled]=" ! isEnabled(st)">
                                    <input type="text" class="form-control" [class]="getClass(st, 'total')"
                                        formControlName="total" placeholder="Total no. jobs">
                                </fieldset>
                            </td>

                            <td>
                                <fieldset [disabled]=" ! isEnabled(st)">
                                    <input type="text" class="form-control" [class]="getClass(st, 'ok')"
                                        formControlName="ok" placeholder="No. jobs OK">
                                </fieldset>
                            </td>

                            <td>
                                <fieldset [disabled]=" ! isEnabled(st)">
                                    <input type="text" class="form-control" [class]="getClass(st, 'notOk')"
                                        formControlName="notOk" placeholder="No. jobs not OK">
                                </fieldset>
                            </td>

                            <td>
                                <fieldset [disabled]=" ! isEnabled(st)">
                                    <select class="form-control" [class]="getClass(st, 'responsible')"
                                        formControlName="responsible">
                                        <option [value]="null" disabled selected> Select responsible </option>
                                        <option *ngFor="let u of users" [value]="u.username">
                                            {{ u.name }}
                                        </option>
                                    </select>
                                </fieldset>
                            </td>

                            <td>
                                <fieldset [disabled]=" ! isEnabled(st)">
                                    <input type="date" class="form-control" [class]="getClass(st, 'clean')"
                                        formControlName="clean" placeholder="Total no. jobs">
                                </fieldset>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- <button class="btn float-right" (click)="continue()"
                    [ngClass]="{ 'btn-success': usersForm.valid, 'btn-secondary not-ready': !usersForm.valid }">
                    Continue
                </button> -->

            </div>
        </form>
    </div>

    <h5 class="text-left m-2"> Containment details </h5>

    <form [formGroup]="form">
        <div class="row d-flex justify-content-center">

            <div class="col-md-6">
                <h5 class="text-left">Affectation</h5>


                <div class="form-group row pt-2">
                    <label for="" class="col-md-6 col-form-label">Does it affect other sites?</label>
                    <div class="col-md-6">
                        <select formControlName="others" [class]="getClassForm('others')"
                            class="custom-select mb-2 mr-sm-2 mb-sm-0">
                            <option [value]="null" selected disabled>Select your choice</option>
                            <option value="Yes"> Yes </option>
                            <option value="No"> No </option>
                        </select>
                    </div>
                </div>

                <div *ngIf="form.controls['others'].value == 'Yes'">
                    <div class="form-group row pt-2">
                        <label for="" class="col-md-4 col-form-label">Which sites?</label>
                        <div class="col-md-8">
                            <input formControlName="sites" type="text" class="form-control" placeholder="Sites affected"
                                [class]="getClassForm('sites')" [required]=" form.controls['others'].value == 'Yes' ">
                        </div>
                    </div>


                    <div class="form-group row pt-2">
                        <label for="" class="col-md-6 col-form-label">Is there containment?</label>
                        <div class="col-md-6">
                            <select formControlName="containment" [class]="getClassForm('containment')"
                                class="custom-select mb-2 mr-sm-2 mb-sm-0">
                                <option [value]="null" selected disabled>Select your choice</option>
                                <option value="Yes"> Yes </option>
                                <option value="No"> No </option>
                            </select>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-6">
                <h5 class="text-left">Issue details</h5>

                <div class="form-group row pt-2">
                    <label for="" class="col-md-6 col-form-label">QA number (Sharepoint)</label>
                    <div class="col-md-6">
                        <input formControlName="QA" type="text" class="form-control" placeholder="Sharepoint QA number"
                            [class]="getClassForm('QA')" [required]=" form.controls['others'].value == 'Yes' ">
                    </div>
                </div>

                <div class="form-group row pt-2">
                    <label for="" class="col-md-6 col-form-label">
                        If applicable, are the poka yokes detecting the failure mode?
                    </label>
                    <div class="col-md-6">
                        <select formControlName="poka" [class]="getClassForm('poka')"
                            class="custom-select mb-2 mr-sm-2 mb-sm-0">
                            <option [value]="null" selected disabled>Select your choice</option>
                            <option> Does not exist </option>
                            <option> Exists and detects failure mode </option>
                            <option> Exists and does not detect failure mode </option>
                        </select>
                    </div>
                </div>

                <div class="form-group row pt-2">
                    <label for="" class="col-md-8 col-form-label">
                        Are the Containment actions robust enough to prevent recurrence with customer?
                    </label>
                    <div class="col-md-4">
                        <select formControlName="robust" [class]="getClassForm('robust')"
                            class="custom-select mb-2 mr-sm-2 mb-sm-0">
                            <option [value]="null" selected disabled> Select your choice </option>
                            <option value="Yes"> Yes </option>
                            <option value="No"> No </option>
                        </select>
                    </div>
                </div>

            </div>

            <!-- <button class="btn float-right" (click)="continue()"
                [ngClass]="{ 'btn-success': isValid(), 'btn-secondary not-ready': !isValid() }">
                Continue
            </button> -->
        </div>
    </form>

    <div class="row justify-content-center">

        <file-upload
        type="resource"
        (receive)="getFiles($event)"
        [isRequired]="false">
        </file-upload>

        <confirm-modal 
            title="Containment actions" 
            content="Do you want to define these containment actions?"
            (triggered)="triggered()" 
            (accept)="continue()" 
            [isDisabled]="! isValid()"
            reason="You need to complete the form">
        </confirm-modal>
    </div>

</div>