@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

html,
body{
  font-family: 'Inter', sans-serif;
  color: rgb(83, 83, 83);
  height: 100%;
}

*{
  font-family: 'Inter', sans-serif;
}

.click :hover {
    cursor: pointer;
}

.ok-icon-st {
    color: green;
}

.warning-icon-st {
    color: rgb(254, 164, 0);
}

.not-ok-icon-st {
    color: red;
}

html {
    transition: filter 1000ms;
}

html[data-theme="dark-mode"] {
    filter: invert(1) hue-rotate(180deg);
}

// html img{
//     filter: invert(1) hue-rotate(180deg);
// }

.footer-inverse{
    height: 50px !important;
}

.not-ready:hover{
    cursor: default !important;
}

.issue-link{
    font-size: 90%;
    color: rgb(43, 43, 43);
    font-weight: bold;
}

.issue-link:hover{
    color: rgb(43, 43, 43);
    text-decoration: underline;
    cursor: pointer;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
