.login-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    max-height: 40px i !important;
    padding-bottom: 5px;
    background-color: red;
    color: white;
    text-align: center;
    align-content: center;
    background-color: rgb(231, 231, 231);
}

.sign{
    font-weight: 300;
}