.not-ready:hover{
    cursor: default !important;
}

.issue-link{
    font-size: 90%;
    color: rgb(43, 43, 43);
    font-weight: bold;
}

.issue-link:hover{
    color: rgb(43, 43, 43);
    text-decoration: underline;
    cursor: pointer;
}