<alert></alert>
<div class="card m-3" *ngIf="action; else no_action">
    <div class="card-body">
        <h5 class="card-title font-weight-bold">
            Action #{{ actionId }} on Issue #{{ issueId }}
        </h5>
        <div class="card-text">
            <detail name="Description" [value]="action.description"></detail>
            <detail name="Evaluation date" [value]="datePipe.transform(action.evaluation, 'mediumDate', 'UTC')">
            </detail>
            <detail name="Due date" [value]="datePipe.transform(action.due, 'mediumDate', 'UTC')"></detail>
            <detail name="Status" [value]="titleCase.transform(action.status)"></detail>
            <detail name="Department" [value]="action.departmentName"></detail>
            <detail name="Type" [value]="action.type"></detail>
            <detail *ngIf="action.justification" name="Justification" [value]="action.justification"></detail>
        </div>
    </div>
</div>
<ng-template #no_action>
    <h5 class="m-3">
        Action #{{ actionId }} is not available
    </h5>
</ng-template>

<issue [id]="issueId" (receive)="getIssue($event)" [active]="actionType" [alertEnabled]="false">
</issue>

<div *ngIf="action">
    <file-upload type="evidence" (receive)="getFiles($event)" [isRequired]="true">
    </file-upload>

    <confirm-modal title="Close action" content="Do you want to close this action with the selected files?"
        (accept)="continue()" [isDisabled]="!files || files.length <= 0" reason="You need to attach at least an evidence"
        trigger="Close action">
    </confirm-modal>
</div>